.player-div{
    background: rgba(255,255,255,0.35);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.track-list{
    background: rgba(255,255,255,0.1);
}

.selected-track-list{
    background: rgba(0,0,0,0.1);
}

.clickable-link-toplist:hover {
    text-decoration: underline;
}